.container {
  cursor: pointer;
  background-color: white;
}

.content {
  display: flex;
}

.image img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
  margin: 16px;
}

.price {
  font-size: 24px;
  margin-right: 6px;
}

.priceAndShipping {
  display: flex;
  align-items: center;
  margin-top: 12px;
  margin-bottom: 32px;
}

.info {
  margin-top: 16px;
}

.summary {
  font-size: 18px;
}

.state {
  margin-top: 36px;
  color: var(--grey);
  font-size: 12px;
}

.separator {
  margin-right: 18px;
  margin-left: 18px;
  border-bottom: 1px solid var(--light-grey);
}
